    /*=================*/
    /*parte do cadastro*/
    /*=================*/

    .intro-form
    {
        width: 100%;
        height: auto;
    }
    
    .intro h2
    {
        color: rgb(0, 4, 255);
        font-size: 32px;
        font-weight: bold;
    }

    .formulario
    {
     display: flex;
     gap: 10px;
    }