header
{
    width: 100%;
    height: 100px;
    background-color: #15151d;
    gap: 30px;
    z-index: 10;
    top: 0;
    display: flex;
}

.container-cabecalho-container
{
    justify-items: center;
    align-items: center;
}
.container-cabecalho-container .logo
{

    color: rgb(0, 4, 255);
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.container-cabecalho-container span
{
    color: white;
}

.container-cabecalho-container p{
    color: white;

}